@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');



/* shared style */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

.title-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* header section style start */

.nav-bar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.brand-img {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
}

.menu-item ul {
    display: flex;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.menu-item li {
    list-style: none;
    margin: 0 50px 0 0;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;

}

.nav-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: 0;
    padding: 20px 40px;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}


.banner-container {
    display: flex;
    justify-content: space-around;
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    align-items: center;

}


.banner-title {

    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}

.main-banner-title {
    font-size: 5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-info li {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    list-style: none;
    padding: 10px 0;
    margin: 10px 0;
}

.banner-btn {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: 0;
    color: white;
    padding: 20px 40px;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}

.banner-btn2 {
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    color: white;
    padding: 20px 40px;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}

/* we are gamer section start */

.we-are-gamer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 55px;

}

.wag-img {
    width: 50%;
}

.wag-info {
    text-align: right;
}

.wag-title {

    text-align: right;
    font-size: 3rem;
    font-weight: 700;

}

.wag-des {
    color: #534C64;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    width: 520px;
    /* 166.667% */
}

.wag-btn {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    border: 0;
    padding: 20px 40px;


}

.wag-after {
    font-size: 1.2rem;
}

/* Online game funny video */
.ogfv-section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 0px;
    text-align: center;

}

.ogfv-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.ogfv-des {
    color: #534C64;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.cards-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.card-text {
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
    text-align: left;
    padding-left: 60px;
}

.card {
    position: relative;
}

.overlay {
    left: 66px;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    height: 86%;
    width: 72%;
    border: 1px solid #FF42A5;
    border-radius: 12px;
    transition: 1ms ease-in-out;
    display: none;
    cursor: pointer;

}

.content {
    color: white;
    margin: 50% auto;
}

.content-des {
    color: #F948B2;
}

.ogfv-cards:hover .overlay {

    transition: 1ms ease-in-out;
    display: block;

}

/* play-instantly */

.play-instantly {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}

.play-Instantly-title {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    /* 125% */

}

.play-Instantly-desc {
    color: #534C64;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    width: 353px;
}

.play-Instantly-img {

    position: relative;


}

.play-Instantly-sec {

    position: absolute;
    bottom: 0;
    left: -160px;

}

/* career-section */

.career-section {

    background: #F948B2;

}

.list-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list-info {
    padding-left: 100px;
}

.careers-title {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
}

.careers-des {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.list-item {
    display: flex;
    margin-top: 20px;
}

.left-list {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 40px;
    /* 200% */
    list-style: none;
}

.right-list {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 40px;
    /* 200% */
    text-align: right;
    list-style: none;
    margin: 20px;
}

.list-btn {
    border-radius: 48px;
    background: #FFF;
    border: 0;
    padding: 20px 40px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #FF42A5;
}

/* gamers section */

.game-section{
    background: linear-gradient(90deg, rgba(250, 46, 151, 0.03) 10%, rgba(248, 52, 153, 0.03) 100%);
    margin-top: 50px;
}

.game-card {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
    width: 243px;
    height: 80px;
}

.game-card:hover{
    border: #F948B2 1px solid;
    color: #F948B2;
    cursor: pointer;
}

.games-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
}

/* footer code start here */

.footer-section{
    background: #0B0223;
    color: white;
    margin-top: 50px;
    text-align: center;
  
}

.footer-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 10px;
}

.footer-brand-title{
font-size: 3rem;
font-weight: 700;

}

.footer-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer-menu li{
    list-style: none;
    margin-right: 50px;
}

.footer-menu a{
text-decoration: none;
color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 600;
}

.footer-icon{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 2rem;
}

.footer-terms ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer-terms li{
    list-style: none;
    margin-right: 30px;
}

.footer-terms a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.60);
  font-weight: 500;
}

.footer-copy-right p{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    margin-top: 50px;
}




@media screen and (max-width:640px) {

    .nav-bar-container {
        flex-direction: column;
        width: 100%;
        box-shadow: none;

    }

    .menu-item ul {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        text-align: center;
    }

    .menu-item li {

        padding: 20px;
    }

    .nav-btn {
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
        border: 0;
        padding: 10px 20px;
        color: #3C354F;
        font-size: 1.2rem;
        font-weight: 500;
    }

    /* Banner style */

    .banner-container {

        flex-direction: column-reverse;
        margin-top: 70px;
        background-image: none;

    }

    .banner-img img {
        width: 100%;
    }

    .banner-info {
        background-image: url("./images/Group\ 14.png");
        width: 100%;
        margin-top: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 20%;


    }


    .banner-title {

        color: #0B0223;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .main-banner-title {
        font-size: 3rem;
        font-weight: 800;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .banner-info li {
        color: #534C64;
        font-size: 20px;
        font-weight: 500;
        text-transform: lowercase;
        list-style: none;
        padding: 10px 0;
        margin: 10px 0;

    }

    .banner-btn {
        border-radius: 48px;
        background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
        border: 0;
        color: white;
        padding: 20px 40px;
        font-size: 1.3rem;
        font-weight: 600;
        cursor: pointer;
    }

    .banner-btn2 {
        border-radius: 48px;
        background: #4EC5F7;
        border: 0;
        color: white;
        padding: 20px 40px;
        font-size: 1.3rem;
        font-weight: 600;
        cursor: pointer;
    }

    .banner-btn {
        border-radius: 48px;
        background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
        border: 0;
        color: white;
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
    }

    .banner-btn2 {
        border-radius: 48px;
        background: #4EC5F7;
        border: 0;
        color: white;
        padding: 10px 20px;
        font-size: 1.3rem;
        font-weight: 600;
        cursor: pointer;
    }

    /* We are gamer section */

    .we-are-gamer {
        flex-direction: column;
        width: 100%;

    }

    .wag-img img {

        width: 100%;

    }

    .wag-info {
        text-align: center;
    }

    .wag-title {

        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;

    }

    .wag-des {
        color: #534C64;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        /* line-height: 30px; */
        width: 100%;
        /* 166.667% */
    }

    .wag-btn {
        border-radius: 48px;
        background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
        color: #FFF;
        font-size: 1rem;
        font-weight: 600;
        border: 0;
        padding: 10px 20px;
        margin: 20px 0;


    }

    .wag-after {
        text-align: center;
        font-size: 1.2rem;
    }


    /* Card section */

    .ogfv-section {

        margin-top: 50px;

    }

    .ogfv-title {
        color: #0B0223;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .ogfv-des {
        color: #534C64;
        text-align: center;
        font-size: 1rem;
    }

    .cards-container {
        flex-direction: column;
        gap: 10px;
    }

    .card-text {
        color: #534C64;
        font-size: 1rem;
        font-weight: 500;
        line-height: 30px;
        /* 150% */
        text-align: center;
        padding-left: 0px;
    }

    .overlay {
        left: 17px;
        top: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        height: 86%;
        width: 92%;
        border: 1px solid #FF42A5;
        border-radius: 12px;
        transition: 1ms ease-in-out;
        display: none;
        cursor: pointer;

    }

    /* Play instant */

    .play-instantly {
        flex-direction: column;
    }

    .play-Instantly-title {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        line-height: 40px;
        /* 125% */
        margin-bottom: 10px;

    }

    .play-Instantly-desc {
        color: #534C64;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 30px;
        /* 166.667% */
        width: 353px;
        margin-bottom: 10px;
    }

    .play-Instantly-one {
        width: 250px
    }

    .play-Instantly-sec {
        width: 50%;
    }

    .play-Instantly-img {

        position: relative;
        margin: auto;


    }

    .play-Instantly-sec {

        position: absolute;
        bottom: 0;
        left: -50px;

    }

    /* careers section */

    .career-section {

        width: 100%;
        margin-top: 50px;

    }

    .list-content {
        flex-direction: column;
    }

    .list-info {
        padding: 0;
    }

    .careers-title {
        color: #FFF;
        font-size: 3rem;
        font-weight: 700;
        line-height: 60px;
        /* 125% */
    }

    .careers-des {
        color: #FFF;
        font-size: 1rem;
        font-weight: 400;
        line-height: 30px;
        /* 166.667% */
    }

    .list-item {
        display: flex;
        margin-top: 20px;
    }

    .left-list {
        color: #FFF;
        font-size: 1rem;
        font-weight: 600;
        line-height: 40px;
        /* 200% */
        list-style: none;
    }

    .right-list {
        color: #FFF;
        font-size: 1rem;
        font-weight: 600;
        line-height: 40px;
        /* 200% */
        text-align: right;
        list-style: none;
        margin: 20px;
    }

    .list-btn {
        border-radius: 48px;
        background: #FFF;
        border: 0;
        padding: 20px 40px;
        font-size: 1.3rem;
        font-weight: 600;
        color: #FF42A5;
    }

    .list-img img {
        width: 100%;
        margin-top: 20px;
    }

    /* game section */

    .game-card {
        display: flex;
        align-items: center;
        border-radius: 50px;
        background: #FFF;
        width: 250px;
        height: 80px;
        flex-basis: 200px;
    }
    
    .game-card:hover{
        border: #F948B2 1px solid;
        color: #F948B2;
        cursor: pointer;
    }
    
    .games-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       
    }

    /* footer style start here */
    
    .footer-menu{
        width: 100%;
    }
    
    .footer-menu ul{
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
        justify-content:center;
        margin-top: 50px;
        text-align: center;
    }
    
    .footer-menu li{
        list-style: none;
        margin-right: 10px;
    }
    
    
    .footer-icon{
        width: 100%;
        flex-wrap: wrap;
        flex-basis: 100px;
        gap: 100px;
        font-size: 1.5rem;
    }
    
    .footer-terms ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 50px;
        gap: 20px;
    }
    
    .footer-terms li{
        list-style: none;
        margin-right: 10px;
    }
    
    .footer-terms a{
      text-decoration: none;
      color: rgba(255, 255, 255, 0.60);
      font-weight: 400;
    }
    
    .footer-copy-right p{
        color: rgba(255, 255, 255, 0.60);
        font-weight: 500;
        margin-top: 50px;
        line-height: 50px;
    }
    


}